@import "@/styles/index.less";
@import "@/components/editable-form/form.less";

.@{prefixCls}-date-picker-selector {
	&-icon {
		width: 20px;
		height: 20px;
		color: var(--mk-form-item-icon-color);
	}
}
