.mk-popup .adm-popup-body {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.mk-popup.mk-popup-safe-area .adm-popup-body {
  padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 12px);
}
