@prefixCls: mk;
@antPrefixCls: adm;

:root {
	// Font Size
	--mk-font-size-xs: 10px;
	--mk-font-size-sm: 12px;
	--mk-font-size-md: 14px;
	--mk-font-size-lg: 16px;
	--mk-font-size-xl: 18px;
	--mk-font-size-xxl: 20px;
	--mk-font-size-xxxl: 24px;

	// Font Weight
	--mk-font-weight-bold: 500;

	// Color
	--mk-color-primary: #1677ff;

	// Border Color
	--mk-border-color-base: #d9d9d9;

	// Line Height
	--mk-line-height-xs: 14px;
	--mk-line-height-sm: 18px;
	--mk-line-height-md: 20px;
	--mk-line-height-lg: 22px;
	--mk-line-height-xl: 24px;
	--mk-line-height-xxl: 28px;
	--mk-line-height-xxxl: 32px;

	// Padding
	--mk-padding-base: 4px;
	--mk-padding-xs: 8px;
	--mk-padding-sm: 12px;
	--mk-padding-md: 16px;
	--mk-padding-lg: 20px;
	--mk-padding-xl: 24px;
	--mk-padding-xxl: 28px;
	--mk-padding-xxxl: 32px;

	// Border Radius
	--mk-border-radius-none: 0;
	--mk-border-radius-sm: 2px;
	--mk-border-radius-md: 4px;
	--mk-border-radius-lg: 8px;
	--mk-border-radius-max: 999px;
}
