@import "../../styles/index.less";

.@{prefixCls}-picker {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.adm-picker-view {
		--height: 120px;
	}

	&__view {
		position: absolute;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}
}
