@import "../../styles/index.less";

:root {
	// Form Group
	--mk-form-group-border-radius: var(--mk-border-radius-md);
	--mk-form-group-padding: var(--mk-padding-md);
	--mk-form-group-title-color: var(--mk-color-text-black-3);
	--mk-form-group-title-font-size: var(--mk-font-size-lg);
	--mk-form-group-title-font-weight: var(--mk-font-weight-bold);

	// Form Item
	--mk-form-item-padding-left: var(--mk-padding-md);
	--mk-form-item-padding-right: var(--mk-padding-md);
	--mk-form-item-placeholder-color: var(--mk-color-text-placeholder);
	--mk-form-item-placeholder-font-size: var(--mk-font-size-md);
	--mk-form-item-label-color: var(--mk-color-text-black-1);
	--mk-form-item-value-color: var(--mk-color-text-black-2);
	--mk-form-item-label-font-size: var(--mk-font-size-md);
	--mk-form-item-value-font-size: var(--mk-font-size-md);
	--mk-form-item-description-color: var(--mk-color-text-placeholder);
	--mk-form-item-description-font-size: var(--mk-font-size-sm);
	--mk-form-item-icon-color: var(--mk-color-text-gray-2);
}
